<% if flash[:notice].present? %>
	<div class="alert alert-success" id="success_msg">
		<a class="close" data-dismiss="alert" href="#">×</a><span id="success"><%= flash[:notice]%></span>
	</div>
<% end %>


<% if params[:country].present? %>

<div class="row-fluid sortable">
	<div class="box span12">
		<div class="box-header well" data-original-title>
			<h2>Set Base Price for country <%= params[:country]%></h2>
		</div>
		
		
		<div class="box-content">
			<%= form_tag country_set_formulas_path, {:class => "form-horizontal", :method => 'post', :id => 'country_base_price'}  do |f| %>
				<fieldset>
					<div class="control-group">
						<label class="control-label" for="inputError">Base Price For XBOX:</label>
						<div class="controls">
							<%= text_field_tag :price, @country.present? ? @country.base_price : '' %>
						</div>	
					</div>
					<div class="control-group">
						<label class="control-label" for="inputError">Base Price For PS:</label>
						<div class="controls">
							<%= text_field_tag :ps_price, @country.present? ? @country.ps_base_price : '' %>
						</div>	
					</div>
					<%= hidden_field_tag 'country', params[:country]%>
					
					<div class="form-actions">
						<button type="submit" class="btn btn-primary">
							Submit
						</button>
					</div>
				</fieldset>
			<% end %>
	    </div>
	</div><!--/span-->

</div><!--/row-->
<% end %>


	<div class="row-fluid sortable">
	<div class="box span12">
		<div class="box-header well" data-original-title>
			<h2>Search</h2>
		</div>
		
		
		<div class="box-content">
			<%= form_tag set_formulas_path, {:class => "form-horizontal", :method => 'get'}  do |f| %>
				<fieldset>
					<input type="hidden" name="country" value="<%= params[:country]%>">
					<div class="control-group">
						<label class="control-label" for="inputError">Game Platform:</label>
						<div class="controls">
							<%= select_tag(:game_plateform, options_for_select(['XBOX', 'PS'], params[:game_plateform]), :include_blank => true) %>
						</div>
					</div>
					
					<div class="form-actions">
						<button type="submit" class="btn btn-primary">
							Search
						</button>
						<button class="btn" type ="button" id="cancel_btn">
							Cancel
						</button>
					</div>
				</fieldset>
			<% end %>
	    </div>
	</div><!--/span-->

</div><!--/row-->


<div class="row-fluid sortable">
	<div class="box span12">
		
		<div class="box-header well" data-original-title>
			<h2>Set formula for Item Price</h2>
		</div>
		
		<div class="box-content">
			<% if @items.present? %>
				<tbody>
					<tr><td colspan="6">
						<div class="digg_pagination" style="float:right;margin-bottom:10px;">
							<%= will_paginate @items, :container => false %>
						</div>
					</tr>	
				</tbody>
			
			<table class="table table-striped table-bordered bootstrap-datatable datatable">
				<thead>
					<tr>
						<td width="10%">Item Id</td>
						<td width="30%">Item Title</td>
						<td width="12%">Formula</td>
						<td width="10%">Game Platform</td>
						<td width="10%"><%= sortable("game_coins_amount", "Game Coins Amount") %></td>
						<td width="15%">Category</td>
						<td width="12%">Action</td>
					</tr>
				</thead>
				
					<% @items.each do |item| %>
							<tr>
								<td class="center"><%= item.item_id %></td>
								<td class="center"><a href="<%= item.view_url.force_encoding("UTF-8") %>" target="_blank"><%= item.title.force_encoding("UTF-8") %></a></td>
								<td class="center"><%= item.formula %></td>
								<td class="center"><%= item.game_platform %></td>
								<td class="center"><%= number_with_delimiter(item.game_coins_amount) %></td>
								<td class="center"><%= item.category_name.force_encoding("UTF-8")  %></td>
								<td class="center">
									<a class="btn btn-success" href="<%= edit_set_formula_path(item)%>"> Edit Formula</a>
								</td>
							</tr>
					<% end %>
					<tr><td colspan="9">
						<div class="digg_pagination"  style="float:right;margin-bottom:10px;">
							<%= will_paginate @items, :container => false %>
						</div>
					</tr>
					<tr>
				 		<td colspan="7"><button type="submit" class="btn btn-primary bulk_update" style="float:left">Bulk Price Update</button></td>	
					</tr>	
				  <% else %>
				     <tr><td colspan="7">No Item(s) found.</td></tr>
				  <% end %>	
				
			</table>
		</div>
	</div><!--/span-->

</div><!--/row-->

<script type="text/javascript">
	jQuery(document).ready(function() {
		jQuery("#country_base_price").submit(function(e){
			
			var price = jQuery("#price").val();
			var ps_price = jQuery("#ps_price").val();
			var bool = true;
			
			if(!$.isNumeric(price)) {
				alert('Only number is allowed!. Please enter number for XBOX base price');
				bool = false;
			}
			
			if(!$.isNumeric(ps_price)) {
				alert('Only number is allowed!. Please enter number for PS base price');
				bool = false;
			}  
			
			if(bool) {
				return true;
			}
			
		})
	});
	
</script>

<script type="text/javascript">
	jQuery(document).ready(function() {
		jQuery("#cancel_btn").click(function(){
			location.href = "<%= set_formulas_path %>";
		});	
	});
</script>	

